.tytle{
    top: 247px;
    left: 538px;
    /* width: 844px; */
    /* height: 141px; */
    font: normal normal medium 50px/54px Poppins;
    letter-spacing: 1px;
    color: #13111E;
    text-transform: capitalize;
    opacity: 1; 
   

}