.bg-light {
background-color: white !important;

}
/* .navbar > .container {
    max-width: 100%;
    float: left;
    margin: 0;
    padding: 0;
  }
  
  .navbar {
    margin: 0;
    padding: 0;
  } */

  .mr-auto{
      float: left;
  }

 
  .signIn{
    background-color:#4E4EFE !important;
    border:none;
    /* margin-left: 50%; */
  }
  
  .logIn1{
    width: 18vh;
  }

  /* .leader{} */
  
  .logIn{
    top: 33px;
left: 1453px;
width: 52px;
height: 17px;
text-align: center;
font: normal normal medium 14px/17px Rubik;
letter-spacing: 1.11px;
color: #4E4EFE;
text-transform: uppercase;
opacity: 1;
      color:#4E4EFE !important;
  }

  .leader{

    /* margin-top: 17px; */
    left: 283px;
    width: 87px;
    height: 31px;
    text-align: left;
    font: normal normal medium 26px/27px Rubik;
    letter-spacing: 0px;
    color: #08A5FE;
    opacity: 1;
    
    /* margin-top: 12%;
    top: 26px; 
    left: 283px;
    width: 87px; 
    height: 31px;
    text-align: left;
    font: normal normal medium 26px/27px Rubik; 
    letter-spacing: 0px; 
    color: #08A5FE; 
    opacity: 1; */
  }
  
  .buttonLogIn{
      color: white;
      font-size: small;
      margin-bottom: 10px;
    /* top: 15px; */
    /* left: 1527px; */
    width: 120px;
    /* text-align: center; */
    height: 40px;
    background: #4E4EFE 0% 0% no-repeat padding-box;
    border: 2px solid #FFFFFF;
    /* font: normal normal normal 15px/18px Rubik; */
    border-radius: 25px;
    opacity: 1;
  }

  .buttom{
    font-size: small;
    margin-bottom: 70%;
}

  .buttomThree{
    background-color:  #6DD400;
    border:none;
    margin-left: 50%;
    margin-bottom: 45%;

}

  .nav{
    /* height:70px!important; */
      /* top: 0px; */
/* left: 0px; */
/* width: 1920px; */
/* height: 13vh !important; */
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 6px #0A74B126;
opacity: 2;
margin-bottom: 5%;
  }

  .sharpe{
    top: 1933px;
    left: 798px;
    width: 24px;
    height: 24px;
    background: #9698D6 0% 0% no-repeat padding-box;
    opacity: 1;
  }

.shoppingIcon{
  margin-top: 2vh !important;
  height: 20px;
  width: 20px;
}

.nav{

    top: 0px;
left: 0px;
/* width: 1920p; */
height: 80px;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 6px #0A74B126;
opacity: 1;
}

.liLink{
  width: 30%;
}

  .link{
    /* width: 10%; */
    /* top: 32px; */
    /* left: 1061px; */
    /* width: 333px; */
    height: 18px;
    text-align: right;
    /* font:  normal normal normal 15px/18px Rubik; */
    letter-spacing: 0px;
    color: #05050F;
    opacity: 1;
width: 90vh;

    /* top: 32px; */
    /* left: 61px; */
    /* width: 100px; */
    /* text-align: right; */
    /* font: normal normal normal 15px/18px Rubik; */
    /* letter-spacing: 1px; */
    /* color: #05050F; */
    /* opacity: 1; */
  }